.contact h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.contact h2 span{
    color: var(--main-color);
}
.contact-content{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-left{
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.contact-left input{
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid #ddd;
}
.contact-left textarea{
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid #ddd;
    height: 200px;
}
.contact-left button{
    margin-top: 10px;
    background-color: var(--main-color);
    padding: 15px 10px;
    width: 200px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.5s;
}
.contact-left button:hover{
    background-color: rgb(192, 192, 31);
}
.contact-right{
    width: 35%;
}
.contact-right-up{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

}
.contact-right-up iframe{
    height: 250px;
}
.contact-right-down{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;

}
.contact-right-down div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icon{
    color: var(--main-color);
    font-size: 18px;
}
.contact-right-down div span{
    font-size: 18px;
    font-weight: bold;
    color: gray;
}