.watchlistt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.watchlist-product{
    width: 30%;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}
.watchlist-product > * {
    margin-bottom: 20px;
}
.watchlist-product img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.watchlist-product h2{
    color: var(--main-color);
}
.watchlist-product h3{
    font-size: 25px;
    color: gray;
}
.watchlist-product div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.y button{
    border: none;
}
.btn-a{
    background-color: var(--main-color);
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: none !important;
    cursor: pointer;
    border-radius: 10px;
}
.btn-b{
    background-color: red;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: none !important;
    cursor: pointer;
    border-radius: 10px;
}
@media screen and (max-width : 800px){
    .watchlistt{
        flex-direction: column;
    }
    .watchlist-product{
        width: 90%;
    }
    .no-products{
        font-size: 18px;
    }
}